#container {    
   /* border: solid 1px #000; */
   display: flex;    
    flex-direction: row;
    justify-content: space-between;
   padding: 10px;
   height: 50px;
}

.item {
   width: auto;
   /* border: solid 1px #000; */
   text-align: center;
}

.mdal{
   text-align: right;
}

.fill-remaining-space {
   flex: auto;
 }
 
.dialog{
   display: flex;
   flex-direction: row;
   justify-content: right;
   margin-top: 20px;
   }
   .close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
    }