<!-- <p>testim works!</p> -->

<div  class="btn" style="direction:rtl;   float: right;">
    <!-- <mat-spinner  [diameter]="32" class="mat-spinner" *ngIf="isWorking"></mat-spinner> -->
    <!-- <mat-progress-bar mode="indeterminate" *ngIf="isWorkingD"></mat-progress-bar> -->
    <br/>
    <!-- <button (click)="ExecutAction()">החל ריצה</button> -->
    <button (click)="RunProg()">Run Program</button>
    <br/>
    <button (click)="RunDocBdika()">Run DocBdika</button>
    <br/>
    <!-- <button (click)="ExecutAction()">החל ריצה</button> -->
    <!-- <button (click)="ExecutActionPost()">עדכן פעולות לסביבת טסט</button> -->
</div>

