<!-- position: fixed; -->

<!-- <div> -->
   <!-- <table> -->
     <!-- <div style="direction: rtl;padding-right: 1.7em;"><p>מס חייבים בסריקה : {{dataSource.length}}</p></div> -->
   <!-- </table> -->
 <!-- </div> -->
 <div>
  <!-- <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 15, 25, 100]" style="direction: rtl;padding-right: 1.7em;"></mat-paginator>
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator> -->
 <mat-table [dataSource]= "dataSource.data" style="direction: rtl;padding-right: 1.7em;">
 
   <ng-container matColumnDef="Acts">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <button mat-raised-button (click)="openDialog(row.hotzlap, row.HayavNum)">O</button>
      </mat-cell>
    </ng-container>

       <ng-container  matColumnDef="hotzlap">
     <mat-header-cell *matHeaderCellDef>מס הוצלפ</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.hotzlap}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="MisparPnimi" style="direction: rtl;">
     <mat-header-cell *matHeaderCellDef>מס פנימי</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.MisparPnimi}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="HayavNum">
     <mat-header-cell *matHeaderCellDef>מס חייב</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.HayavNum}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="shemHayav">
     <mat-header-cell *matHeaderCellDef>שם חייב</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.shemHayav}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="TikStatus">
     <mat-header-cell *matHeaderCellDef>סטאטוס תיק</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.TikStatus}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="SideStatus">
     <mat-header-cell *matHeaderCellDef>סטאטוס חייב</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.SideStatus}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="Lbakasha">
     <mat-header-cell *matHeaderCellDef>בקשה אחרונה</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.Lbakasha}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="ShemLakoach">
     <mat-header-cell *matHeaderCellDef>שם לקוח</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.ShemLakoach}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="yitraHotzlap">
     <mat-header-cell *matHeaderCellDef>יתרה הוצלפ</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.yitraHotzlap}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="IsIkuv">
     <mat-header-cell *matHeaderCellDef>קיים עיכוב</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.IsIkuv}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="MoneTik">
     <mat-header-cell *matHeaderCellDef>מונה תיק</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.MoneTik}}</mat-cell>
   </ng-container>
 
   <ng-container  matColumnDef="MoneSide">
     <mat-header-cell *matHeaderCellDef>מונה צד</mat-header-cell>
     <mat-cell *matCellDef="let Bdika">{{Bdika.MoneSide}}</mat-cell>
   </ng-container>

   
 
   <!-- <mat-header-row *matHeaderRowDef="tableColumns" class="mat-header-row"></mat-header-row> -->
   <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
   <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
   <!-- <mat-row *cdkRowDef="let row; columns: tableColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"(click)="highlight(row)"></mat-row> -->

 </mat-table>

 </div>

    <!-- <ng-container  matColumnDef="MoneSide">
     <mat-header-cell *matHeaderCellDef>MoneSide</mat-header-cell>
     <mat-cell **matCellDef="let Bdika">{{Bdika.MoneSide}}</mat-cell>
   </ng-container> -->
 
